## Python Introduction

In [5]:
a = 10
print(a, end = " ")
print(12)

10 12

In [6]:
# Variables
a = 10
print(type(a))
a = 12.5
print(type(a))
a = 2 + 3j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
# last line is the output
a = 10
b = 20
b

20

In [10]:
a

10

In [12]:
a = 12
b = 20
print(a/b) # gives output as decimal
print(a//b) # gives output as integer value, eg 0.6 becomes 0
print(a**2)# power

0.6
0
144

In [14]:
# Strings in python
a = "This is a string" # a= 'this is a string' also works fine
print(a)

This is a string

In [21]:
# Typical string properties
print(len(a))
print(type(a))
print(a[0]) # accessing the 0th index character
# strings are immutable, so we cant do a[1] = 2, ie we cant change the characters but we can do a = "anmol" because we 
# are not changing the characters

16
<class 'str'>
T

In [25]:
a = "abc"
b = "def"
print(a+b) # Concatenation 
#a + 2 cant be done, as its string plus integer
print(type('2')) # we dont have characters in python, everything in characters is string

abcdef
<class 'str'>

In [35]:
# few functions for strings
a = "abs"
print(a.upper())
print(a) # a doesnt get changed. upper created a new string and returned uppercase of it
a = "aBS"
print(a.lower())
a = "Anmol is a     "
print(a.strip()) # removes leading and trailing spaces
print(a.isalpha()) # to check if string a has all alphabets, got false here because a has spaces also here
a = "12"
print(a.isdigit())

ABS
abs
abs
Anmol is a
False
True

In [38]:
# User input, user input by default a string
a = input() 
print(a)
print(type(a))
# input function returns a string. to convert to input we can do b = int(input())
b = int(input())
print(type(b))

a
a
<class 'str'>
2
<class 'int'>

In [44]:
s = "abcd"
s.upper()
print(s)

abcd

In [45]:
s = "abcd"
print(s + 12)

TypeError: Can't convert 'int' object to str implicitly

In [47]:
# indexing
a = "abc"
print(a[0])
# In strings, indexes are from 0 to n-1 and in backward direction from (-n,-------,-2,-1)
print(a[-1]) # gives last character

a
c

In [53]:
# slicing, used to get a substring from a string, if s[2:5], its gives substring from 2 to 4 indexes, i.e 2nd,3rd and 4th character
# s[s:e] gives from s till e-1
a = "abcdef"
print(a[2:4])
print(a[-3:-1]) # gives characters at -3 and -2 and not -1
print(a[4:]) # all charcaters from 4th index till end
print(a[:3])#all characters from starting till second
print(a[:])# gives complete string

cd
de
ef
abc
abcdef

In [55]:
"abcd"[2:]

'cd'

In [56]:
str1 = 'hello'
print(str1[-1:])

o

In [57]:
s = "abcdefghi"
s[-3:-1]

'gh'

In [63]:
# Tuples, not like arrays
t = (1,2,3)
print(type(t))
print(t[0])
t = (1,"abs",2.3) # is valid tuple
t
# like strings, tuples are immutable . very importantttttt
# i.e cant do t[0] = 23
# Slicing also works on tuples just like strings, very importanttt

<class 'tuple'>
1

(1, 'abs', 2.3)

In [65]:
# operators on tuples
t = (1,2)
k = ("d",1)
t + k # gives a combined single tuple

(1, 2, 'd', 1)

In [66]:
t = (1,2)
k = ("d",1)
t * k # INVALID

TypeError: can't multiply sequence by non-int of type 'tuple'

In [68]:
t = (1,2)
k = ("d",1)
print(t*2)# makes a copy and is fine

(1, 2, 1, 2)

In [70]:
t = (1,2,3)
print(1 in t)
print("a" in t)

True
False

In [1]:
t=(1,2,4,3)
t[1:3]

(2, 4)

In [7]:
# take no of rows and coulmns of are 2d array
str = input().strip().split(" ")
row = int(str[0])
col = int(str[1])
# taking in elements
l = [int(i) for i in input().strip().split(" ")] #with this the output is a 1d array of 1,2,3,4,5,6,7 but we want it in row*col form

# one way
output = []
for i in range(row):
    output.append([]) # will give us empty rows
    for j in range(col):
        output[i].append(l[i*col +j])
print(output)

# another way
output2 = [[l[i*col+j]for j in range(col)]for i in range(row)]
print(output2)

input = output2

rowNum = 0
colNum = 0
maxRowSum = 0
maxColSum = 0

for i in range(rows):
    sum = 0
    for j in range(cols):
        sum += input[i][j]
    
    if(sum>maxRowSum):
        maxRowSum = sum
        rowNum = i

for j in range(cols):
    sum = 0
    for i in range(rows):
        sum += input[i][j]
    if(sum>maxColSum):
        maxColSum = sum
        colNum = j

if maxRowSum >= maxColSum:
    print("row",end=" ")
    print(rowNum,end=" ")
    print(maxRowSum)
else:
    print("column",end=" ")
    print(colNum,end=" ")
    print(maxColSum)

TypeError: 'list' object is not callable