In [59]:
import pandas as pd
import numpy as np

# Loading Data

In [4]:
# Loading data
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")#takes path of csv file
iris # here pd has taken first row has column header

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [22]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

# Accessing data

In [6]:
# Accessing data in pandas
df = iris.copy() # df = iris make both df and iris point to the same object, hence any changes done by df will reflect.

In [7]:
df.head(10) # seeing 10 rows, by default it shows 5 rows

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [10]:
print(df.shape)

(149, 5)

In [11]:
print(df.dtypes)

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [13]:
# Modifying the column headers
# current headers
print(df.columns)
# Modifying headers
df.columns = ["SepalLength","SepalWidth","PetalLength","PetalWidth","flower_type"]
print(df.columns)

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')
Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth',
       'flower_type'],
      dtype='object')

In [14]:
print(df.shape)
print(df.dtypes)

(149, 5)
SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
flower_type     object
dtype: object

In [15]:
print(df.head(10))

   SepalLength  SepalWidth  PetalLength  PetalWidth  flower_type
0          4.9         3.0          1.4         0.2  Iris-setosa
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
5          4.6         3.4          1.4         0.3  Iris-setosa
6          5.0         3.4          1.5         0.2  Iris-setosa
7          4.4         2.9          1.4         0.2  Iris-setosa
8          4.9         3.1          1.5         0.1  Iris-setosa
9          5.4         3.7          1.5         0.2  Iris-setosa

In [16]:
df.describe() # in the count attribute, the count value is the number of values that are not null

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   149.000000  149.000000   149.000000  149.000000
mean      5.848322    3.051007     3.774497    1.205369
std       0.828594    0.433499     1.759651    0.761292
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.400000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [17]:
# accessing a column directly, .column_name
df.SepalLength # or df["SepalLength"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
5      4.6
6      5.0
7      4.4
8      4.9
9      5.4
10     4.8
11     4.8
12     4.3
13     5.8
14     5.7
15     5.4
16     5.1
17     5.7
18     5.1
19     5.4
20     5.1
21     4.6
22     5.1
23     4.8
24     5.0
25     5.0
26     5.2
27     5.2
28     4.7
29     4.8
      ...
119    6.9
120    5.6
121    7.7
122    6.3
123    6.7
124    7.2
125    6.2
126    6.1
127    6.4
128    7.2
129    7.4
130    7.9
131    6.4
132    6.3
133    6.1
134    7.7
135    6.3
136    6.4
137    6.0
138    6.9
139    6.7
140    6.9
141    5.8
142    6.8
143    6.7
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: SepalLength, dtype: float64

In [18]:
# checking null enteries
df.isnull()

    SepalLength SepalWidth PetalLength PetalWidth flower_type
0         False      False       False      False       False
1         False      False       False      False       False
2         False      False       False      False       False
3         False      False       False      False       False
4         False      False       False      False       False
5         False      False       False      False       False
6         False      False       False      False       False
7         False      False       False      False       False
8         False      False       False      False       False
9         False      False       False      False       False
10        False      False       False      False       False
11        False      False       False      False       False
12        False      False       False      False       False
13        False      False       False      False       False
14        False      False       False      False       False
15        False      False       False      False       False
16        False      False       False      False       False
17        False      False       False      False       False
18        False      False       False      False       False
19        False      False       False      False       False
20        False      False       False      False       False
21        False      False       False      False       False
22        False      False       False      False       False
23        False      False       False      False       False
24        False      False       False      False       False
25        False      False       False      False       False
26        False      False       False      False       False
27        False      False       False      False       False
28        False      False       False      False       False
29        False      False       False      False       False
..          ...        ...         ...        ...         ...
119       False      False       False      False       False
120       False      False       False      False       False
121       False      False       False      False       False
122       False      False       False      False       False
123       False      False       False      False       False
124       False      False       False      False       False
125       False      False       False      False       False
126       False      False       False      False       False
127       False      False       False      False       False
128       False      False       False      False       False
129       False      False       False      False       False
130       False      False       False      False       False
131       False      False       False      False       False
132       False      False       False      False       False
133       False      False       False      False       False
134       False      False       False      False       False
135       False      False       False      False       False
136       False      False       False      False       False
137       False      False       False      False       False
138       False      False       False      False       False
139       False      False       False      False       False
140       False      False       False      False       False
141       False      False       False      False       False
142       False      False       False      False       False
143       False      False       False      False       False
144       False      False       False      False       False
145       False      False       False      False       False
146       False      False       False      False       False
147       False      False       False      False       False
148       False      False       False      False       False

[149 rows x 5 columns]

In [19]:
df.isnull().sum() # giving values of null enteries per each column

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
flower_type    0
dtype: int64

In [20]:
# To randomly access data from between the dataset, we use a function iloc
df.iloc[1:4,2:4]#rows 1,2 and 3 and colums 2 and 3

   PetalLength  PetalWidth
1          1.3         0.2
2          1.5         0.2
3          1.4         0.2

# Manipulating data

In [26]:
# deleting some rows. Here we are droping by labels
a = df.drop(0) #doing just df.drop() wont reflect the changes as drop function makes a new copy of the dataset with the 0th row removes
a.head()
# to reflect changes in df itself
df.drop(0,inplace = True)
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  flower_type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
5          4.6         3.4          1.4         0.3  Iris-setosa

In [27]:
df.drop(0,inplace = True)
df.head() 
# we get the following error because, rows were numbered from 0,1,2,3---- but after removing 0th row, indexing becomes 
# 1,2,3,4-----

ValueError: labels [0] not contained in axis

In [28]:
df.drop(3,inplace = True)
df.head() 
# here labels 0 and 3 are missing
# drop functions takes in labels and not positions

   SepalLength  SepalWidth  PetalLength  PetalWidth  flower_type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
5          4.6         3.4          1.4         0.3  Iris-setosa
6          5.0         3.4          1.5         0.2  Iris-setosa

In [29]:
#seeing the labels of our rows
df.index

Int64Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

In [33]:
# droping by position
#df.index(3) gives label for row with position 3 and not label 3
df.drop(df.index[3],inplace = True)
df.head()
# we can also delete multiple rows also eg df.drop(df.index[[1,2]],inplace = True)

   SepalLength  SepalWidth  PetalLength  PetalWidth  flower_type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
6          5.0         3.4          1.5         0.2  Iris-setosa
7          4.4         2.9          1.4         0.2  Iris-setosa

In [35]:
df.SepalLength > 5 # number of rows with value greater than 5

1      False
2      False
4       True
6      False
7      False
8      False
9       True
10     False
11     False
12     False
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21     False
22      True
23     False
24     False
25     False
26      True
27      True
28     False
29     False
30      True
31      True
32      True
       ...
119     True
120     True
121     True
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138     True
139     True
140     True
141     True
142     True
143     True
144     True
145     True
146     True
147     True
148     True
Name: SepalLength, dtype: bool

In [36]:
df[df.SepalLength > 5] # only rows with SepalLength >5

     SepalLength  SepalWidth  PetalLength  PetalWidth      flower_type
4            5.4         3.9          1.7         0.4      Iris-setosa
9            5.4         3.7          1.5         0.2      Iris-setosa
13           5.8         4.0          1.2         0.2      Iris-setosa
14           5.7         4.4          1.5         0.4      Iris-setosa
15           5.4         3.9          1.3         0.4      Iris-setosa
16           5.1         3.5          1.4         0.3      Iris-setosa
17           5.7         3.8          1.7         0.3      Iris-setosa
18           5.1         3.8          1.5         0.3      Iris-setosa
19           5.4         3.4          1.7         0.2      Iris-setosa
20           5.1         3.7          1.5         0.4      Iris-setosa
22           5.1         3.3          1.7         0.5      Iris-setosa
26           5.2         3.5          1.5         0.2      Iris-setosa
27           5.2         3.4          1.4         0.2      Iris-setosa
30           5.4         3.4          1.5         0.4      Iris-setosa
31           5.2         4.1          1.5         0.1      Iris-setosa
32           5.5         4.2          1.4         0.2      Iris-setosa
35           5.5         3.5          1.3         0.2      Iris-setosa
38           5.1         3.4          1.5         0.2      Iris-setosa
43           5.1         3.8          1.9         0.4      Iris-setosa
45           5.1         3.8          1.6         0.2      Iris-setosa
47           5.3         3.7          1.5         0.2      Iris-setosa
49           7.0         3.2          4.7         1.4  Iris-versicolor
50           6.4         3.2          4.5         1.5  Iris-versicolor
51           6.9         3.1          4.9         1.5  Iris-versicolor
52           5.5         2.3          4.0         1.3  Iris-versicolor
53           6.5         2.8          4.6         1.5  Iris-versicolor
54           5.7         2.8          4.5         1.3  Iris-versicolor
55           6.3         3.3          4.7         1.6  Iris-versicolor
57           6.6         2.9          4.6         1.3  Iris-versicolor
58           5.2         2.7          3.9         1.4  Iris-versicolor
..           ...         ...          ...         ...              ...
119          6.9         3.2          5.7         2.3   Iris-virginica
120          5.6         2.8          4.9         2.0   Iris-virginica
121          7.7         2.8          6.7         2.0   Iris-virginica
122          6.3         2.7          4.9         1.8   Iris-virginica
123          6.7         3.3          5.7         2.1   Iris-virginica
124          7.2         3.2          6.0         1.8   Iris-virginica
125          6.2         2.8          4.8         1.8   Iris-virginica
126          6.1         3.0          4.9         1.8   Iris-virginica
127          6.4         2.8          5.6         2.1   Iris-virginica
128          7.2         3.0          5.8         1.6   Iris-virginica
129          7.4         2.8          6.1         1.9   Iris-virginica
130          7.9         3.8          6.4         2.0   Iris-virginica
131          6.4         2.8          5.6         2.2   Iris-virginica
132          6.3         2.8          5.1         1.5   Iris-virginica
133          6.1         2.6          5.6         1.4   Iris-virginica
134          7.7         3.0          6.1         2.3   Iris-virginica
135          6.3         3.4          5.6         2.4   Iris-virginica
136          6.4         3.1          5.5         1.8   Iris-virginica
137          6.0         3.0          4.8         1.8   Iris-virginica
138          6.9         3.1          5.4         2.1   Iris-virginica
139          6.7         3.1          5.6         2.4   Iris-virginica
140          6.9         3.1          5.1         2.3   Iris-virginica
141          5.8         2.7          5.1         1.9   Iris-virginica
142          6.8         3.2          5.9         2.3   Iris-virginica
143          6.7         3.3          5.7         2.5   Iris-virginica
144          6.7         3.0          5.2         2.3   Iris-virginica
145          6.3         2.5          5.0         1.9   Iris-virginica
146          6.5         3.0          5.2         2.0   Iris-virginica
147          6.2         3.4          5.4         2.3   Iris-virginica
148          5.9         3.0          5.1         1.8   Iris-virginica

[117 rows x 5 columns]

In [37]:
df[df.flower_type=='Iris-setosa'].describe()
# we can create 3 classes like c1 = df[df.flower_type=='Iris-setosa'] and similarly c2 and c3 and comapre sepal lengths

       SepalLength  SepalWidth  PetalLength  PetalWidth
count    46.000000   46.000000    46.000000   46.000000
mean      5.015217    3.421739     1.469565    0.245652
std       0.362073    0.391529     0.179962    0.110969
min       4.300000    2.300000     1.000000    0.100000
25%       4.800000    3.125000     1.400000    0.200000
50%       5.000000    3.400000     1.500000    0.200000
75%       5.200000    3.700000     1.600000    0.300000
max       5.800000    4.400000     1.900000    0.600000

In [39]:
# iloc vs loc
# iloc works by position
print(df.iloc[0]) # 0th position row
# loc works by label
print(df.loc[10]) # row with label 10

SepalLength            4.7
SepalWidth             3.2
PetalLength            1.3
PetalWidth             0.2
flower_type    Iris-setosa
Name: 1, dtype: object
SepalLength            4.8
SepalWidth             3.4
PetalLength            1.6
PetalWidth             0.2
flower_type    Iris-setosa
Name: 10, dtype: object

In [40]:
# adding a row
df.loc[0] = ["1","2","3","4","Iris-setosa"] # added at tail

In [41]:
df.head()

  SepalLength SepalWidth PetalLength PetalWidth  flower_type
1         4.7        3.2         1.3        0.2  Iris-setosa
2         4.6        3.1         1.5        0.2  Iris-setosa
4         5.4        3.9         1.7        0.4  Iris-setosa
6           5        3.4         1.5        0.2  Iris-setosa
7         4.4        2.9         1.4        0.2  Iris-setosa

In [42]:
df.tail()

    SepalLength SepalWidth PetalLength PetalWidth     flower_type
145         6.3        2.5           5        1.9  Iris-virginica
146         6.5          3         5.2          2  Iris-virginica
147         6.2        3.4         5.4        2.3  Iris-virginica
148         5.9          3         5.1        1.8  Iris-virginica
0             1          2           3          4     Iris-setosa

In [43]:
# reset index,needed because when ever we delete any row, index values become unordered
df.reset_index()

     index SepalLength SepalWidth PetalLength PetalWidth     flower_type
0        1         4.7        3.2         1.3        0.2     Iris-setosa
1        2         4.6        3.1         1.5        0.2     Iris-setosa
2        4         5.4        3.9         1.7        0.4     Iris-setosa
3        6           5        3.4         1.5        0.2     Iris-setosa
4        7         4.4        2.9         1.4        0.2     Iris-setosa
5        8         4.9        3.1         1.5        0.1     Iris-setosa
6        9         5.4        3.7         1.5        0.2     Iris-setosa
7       10         4.8        3.4         1.6        0.2     Iris-setosa
8       11         4.8          3         1.4        0.1     Iris-setosa
9       12         4.3          3         1.1        0.1     Iris-setosa
10      13         5.8          4         1.2        0.2     Iris-setosa
11      14         5.7        4.4         1.5        0.4     Iris-setosa
12      15         5.4        3.9         1.3        0.4     Iris-setosa
13      16         5.1        3.5         1.4        0.3     Iris-setosa
14      17         5.7        3.8         1.7        0.3     Iris-setosa
15      18         5.1        3.8         1.5        0.3     Iris-setosa
16      19         5.4        3.4         1.7        0.2     Iris-setosa
17      20         5.1        3.7         1.5        0.4     Iris-setosa
18      21         4.6        3.6           1        0.2     Iris-setosa
19      22         5.1        3.3         1.7        0.5     Iris-setosa
20      23         4.8        3.4         1.9        0.2     Iris-setosa
21      24           5          3         1.6        0.2     Iris-setosa
22      25           5        3.4         1.6        0.4     Iris-setosa
23      26         5.2        3.5         1.5        0.2     Iris-setosa
24      27         5.2        3.4         1.4        0.2     Iris-setosa
25      28         4.7        3.2         1.6        0.2     Iris-setosa
26      29         4.8        3.1         1.6        0.2     Iris-setosa
27      30         5.4        3.4         1.5        0.4     Iris-setosa
28      31         5.2        4.1         1.5        0.1     Iris-setosa
29      32         5.5        4.2         1.4        0.2     Iris-setosa
..     ...         ...        ...         ...        ...             ...
117    120         5.6        2.8         4.9          2  Iris-virginica
118    121         7.7        2.8         6.7          2  Iris-virginica
119    122         6.3        2.7         4.9        1.8  Iris-virginica
120    123         6.7        3.3         5.7        2.1  Iris-virginica
121    124         7.2        3.2           6        1.8  Iris-virginica
122    125         6.2        2.8         4.8        1.8  Iris-virginica
123    126         6.1          3         4.9        1.8  Iris-virginica
124    127         6.4        2.8         5.6        2.1  Iris-virginica
125    128         7.2          3         5.8        1.6  Iris-virginica
126    129         7.4        2.8         6.1        1.9  Iris-virginica
127    130         7.9        3.8         6.4          2  Iris-virginica
128    131         6.4        2.8         5.6        2.2  Iris-virginica
129    132         6.3        2.8         5.1        1.5  Iris-virginica
130    133         6.1        2.6         5.6        1.4  Iris-virginica
131    134         7.7          3         6.1        2.3  Iris-virginica
132    135         6.3        3.4         5.6        2.4  Iris-virginica
133    136         6.4        3.1         5.5        1.8  Iris-virginica
134    137           6          3         4.8        1.8  Iris-virginica
135    138         6.9        3.1         5.4        2.1  Iris-virginica
136    139         6.7        3.1         5.6        2.4  Iris-virginica
137    140         6.9        3.1         5.1        2.3  Iris-virginica
138    141         5.8        2.7         5.1        1.9  Iris-virginica
139    142         6.8        3.2         5.9        2.3  Iris-virginica
140    143         6.7        3.3         5.7        2.5  Iris-virginica
141    144         6.7          3         5.2        2.3  Iris-virginica
142    145         6.3        2.5           5        1.9  Iris-virginica
143    146         6.5          3         5.2          2  Iris-virginica
144    147         6.2        3.4         5.4        2.3  Iris-virginica
145    148         5.9          3         5.1        1.8  Iris-virginica
146      0           1          2           3          4     Iris-setosa

[147 rows x 6 columns]

In [44]:
# it does reset the indexes, but it has some issues
# Issue 1. created a new column index having previous index values, to rectify this, we do
df.reset_index(drop=True)

    SepalLength SepalWidth PetalLength PetalWidth     flower_type
0           4.7        3.2         1.3        0.2     Iris-setosa
1           4.6        3.1         1.5        0.2     Iris-setosa
2           5.4        3.9         1.7        0.4     Iris-setosa
3             5        3.4         1.5        0.2     Iris-setosa
4           4.4        2.9         1.4        0.2     Iris-setosa
5           4.9        3.1         1.5        0.1     Iris-setosa
6           5.4        3.7         1.5        0.2     Iris-setosa
7           4.8        3.4         1.6        0.2     Iris-setosa
8           4.8          3         1.4        0.1     Iris-setosa
9           4.3          3         1.1        0.1     Iris-setosa
10          5.8          4         1.2        0.2     Iris-setosa
11          5.7        4.4         1.5        0.4     Iris-setosa
12          5.4        3.9         1.3        0.4     Iris-setosa
13          5.1        3.5         1.4        0.3     Iris-setosa
14          5.7        3.8         1.7        0.3     Iris-setosa
15          5.1        3.8         1.5        0.3     Iris-setosa
16          5.4        3.4         1.7        0.2     Iris-setosa
17          5.1        3.7         1.5        0.4     Iris-setosa
18          4.6        3.6           1        0.2     Iris-setosa
19          5.1        3.3         1.7        0.5     Iris-setosa
20          4.8        3.4         1.9        0.2     Iris-setosa
21            5          3         1.6        0.2     Iris-setosa
22            5        3.4         1.6        0.4     Iris-setosa
23          5.2        3.5         1.5        0.2     Iris-setosa
24          5.2        3.4         1.4        0.2     Iris-setosa
25          4.7        3.2         1.6        0.2     Iris-setosa
26          4.8        3.1         1.6        0.2     Iris-setosa
27          5.4        3.4         1.5        0.4     Iris-setosa
28          5.2        4.1         1.5        0.1     Iris-setosa
29          5.5        4.2         1.4        0.2     Iris-setosa
..          ...        ...         ...        ...             ...
117         5.6        2.8         4.9          2  Iris-virginica
118         7.7        2.8         6.7          2  Iris-virginica
119         6.3        2.7         4.9        1.8  Iris-virginica
120         6.7        3.3         5.7        2.1  Iris-virginica
121         7.2        3.2           6        1.8  Iris-virginica
122         6.2        2.8         4.8        1.8  Iris-virginica
123         6.1          3         4.9        1.8  Iris-virginica
124         6.4        2.8         5.6        2.1  Iris-virginica
125         7.2          3         5.8        1.6  Iris-virginica
126         7.4        2.8         6.1        1.9  Iris-virginica
127         7.9        3.8         6.4          2  Iris-virginica
128         6.4        2.8         5.6        2.2  Iris-virginica
129         6.3        2.8         5.1        1.5  Iris-virginica
130         6.1        2.6         5.6        1.4  Iris-virginica
131         7.7          3         6.1        2.3  Iris-virginica
132         6.3        3.4         5.6        2.4  Iris-virginica
133         6.4        3.1         5.5        1.8  Iris-virginica
134           6          3         4.8        1.8  Iris-virginica
135         6.9        3.1         5.4        2.1  Iris-virginica
136         6.7        3.1         5.6        2.4  Iris-virginica
137         6.9        3.1         5.1        2.3  Iris-virginica
138         5.8        2.7         5.1        1.9  Iris-virginica
139         6.8        3.2         5.9        2.3  Iris-virginica
140         6.7        3.3         5.7        2.5  Iris-virginica
141         6.7          3         5.2        2.3  Iris-virginica
142         6.3        2.5           5        1.9  Iris-virginica
143         6.5          3         5.2          2  Iris-virginica
144         6.2        3.4         5.4        2.3  Iris-virginica
145         5.9          3         5.1        1.8  Iris-virginica
146           1          2           3          4     Iris-setosa

[147 rows x 5 columns]

In [48]:
# Issue 2: This reset_index() doesnt make changes in original dataset but gives you a new copy of it. So to get original 
# dataset,we do the following 
df.reset_index(drop=True,inplace = True)
df.index

RangeIndex(start=0, stop=147, step=1)

In [49]:
# Delete column
df.drop("SepalLength")

ValueError: labels ['SepalLength'] not contained in axis

In [50]:
# we get an error because its trying to find a label SepalLength, to rectify this
df.drop("SepalLength",axis = 1)# axis 1 means column wise

    SepalWidth PetalLength PetalWidth     flower_type
0          3.2         1.3        0.2     Iris-setosa
1          3.1         1.5        0.2     Iris-setosa
2          3.9         1.7        0.4     Iris-setosa
3          3.4         1.5        0.2     Iris-setosa
4          2.9         1.4        0.2     Iris-setosa
5          3.1         1.5        0.1     Iris-setosa
6          3.7         1.5        0.2     Iris-setosa
7          3.4         1.6        0.2     Iris-setosa
8            3         1.4        0.1     Iris-setosa
9            3         1.1        0.1     Iris-setosa
10           4         1.2        0.2     Iris-setosa
11         4.4         1.5        0.4     Iris-setosa
12         3.9         1.3        0.4     Iris-setosa
13         3.5         1.4        0.3     Iris-setosa
14         3.8         1.7        0.3     Iris-setosa
15         3.8         1.5        0.3     Iris-setosa
16         3.4         1.7        0.2     Iris-setosa
17         3.7         1.5        0.4     Iris-setosa
18         3.6           1        0.2     Iris-setosa
19         3.3         1.7        0.5     Iris-setosa
20         3.4         1.9        0.2     Iris-setosa
21           3         1.6        0.2     Iris-setosa
22         3.4         1.6        0.4     Iris-setosa
23         3.5         1.5        0.2     Iris-setosa
24         3.4         1.4        0.2     Iris-setosa
25         3.2         1.6        0.2     Iris-setosa
26         3.1         1.6        0.2     Iris-setosa
27         3.4         1.5        0.4     Iris-setosa
28         4.1         1.5        0.1     Iris-setosa
29         4.2         1.4        0.2     Iris-setosa
..         ...         ...        ...             ...
117        2.8         4.9          2  Iris-virginica
118        2.8         6.7          2  Iris-virginica
119        2.7         4.9        1.8  Iris-virginica
120        3.3         5.7        2.1  Iris-virginica
121        3.2           6        1.8  Iris-virginica
122        2.8         4.8        1.8  Iris-virginica
123          3         4.9        1.8  Iris-virginica
124        2.8         5.6        2.1  Iris-virginica
125          3         5.8        1.6  Iris-virginica
126        2.8         6.1        1.9  Iris-virginica
127        3.8         6.4          2  Iris-virginica
128        2.8         5.6        2.2  Iris-virginica
129        2.8         5.1        1.5  Iris-virginica
130        2.6         5.6        1.4  Iris-virginica
131          3         6.1        2.3  Iris-virginica
132        3.4         5.6        2.4  Iris-virginica
133        3.1         5.5        1.8  Iris-virginica
134          3         4.8        1.8  Iris-virginica
135        3.1         5.4        2.1  Iris-virginica
136        3.1         5.6        2.4  Iris-virginica
137        3.1         5.1        2.3  Iris-virginica
138        2.7         5.1        1.9  Iris-virginica
139        3.2         5.9        2.3  Iris-virginica
140        3.3         5.7        2.5  Iris-virginica
141          3         5.2        2.3  Iris-virginica
142        2.5           5        1.9  Iris-virginica
143          3         5.2          2  Iris-virginica
144        3.4         5.4        2.3  Iris-virginica
145          3         5.1        1.8  Iris-virginica
146          2           3          4     Iris-setosa

[147 rows x 4 columns]

In [51]:
df.describe() # here we are getting SepalLength because we didnt do inplace = True in above command so we got an updated copy
# and no changes were reflected in df

        SepalLength  SepalWidth  PetalLength  PetalWidth     flower_type
count         147.0       147.0        147.0       147.0             147
unique         36.0        24.0         44.0        23.0               3
top             5.0         3.0          1.5         0.2  Iris-virginica
freq            9.0        25.0         14.0        25.0              50

In [52]:
del df["SepalWidth"]

In [53]:
df.describe()

        SepalLength  PetalLength  PetalWidth     flower_type
count         147.0        147.0       147.0             147
unique         36.0         44.0        23.0               3
top             5.0          1.5         0.2  Iris-virginica
freq            9.0         14.0        25.0              50

In [54]:
df = iris.copy()
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [55]:
df.columns = ["SepalLength","SepalWidth","PetalLength","PetalWidth","flower_type"]

In [57]:
# Adding a column
# new column is diff of petal length and petal width
df["new_column_name"] = df["PetalLength"] - df["PetalWidth"]
df.tail()

,SepalLength,SepalWidth,PetalLength,PetalWidth,flower_type,new_column_name
144,6.7,3.0,5.2,2.3,Iris-virginica,2.9
145,6.3,2.5,5.0,1.9,Iris-virginica,3.1
146,6.5,3.0,5.2,2.0,Iris-virginica,3.2
147,6.2,3.4,5.4,2.3,Iris-virginica,3.1
148,5.9,3.0,5.1,1.8,Iris-virginica,3.3

In [60]:
# dealing with data with NAN enteries, null/not applicable enteries
# we can either remove those rows or add some data there
df.iloc[2:4,1:3] = np.nan
# making some NAN enteries as we dont have any in our table
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,flower_type,new_column_name
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
2,4.6,NaN,NaN,0.2,Iris-setosa,1.3
3,5.0,NaN,NaN,0.2,Iris-setosa,1.2
4,5.4,3.9,1.7,0.4,Iris-setosa,1.3

In [61]:
df.describe()

/Users/anmolkhanna/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       SepalLength  SepalWidth  PetalLength  PetalWidth  new_column_name
count   149.000000  147.000000   147.000000  149.000000       149.000000
mean      5.848322    3.046939     3.806122    1.205369         2.569128
std       0.828594    0.434048     1.750351    0.761292         1.047707
min       4.300000    2.000000     1.000000    0.100000         0.800000
25%       5.100000         NaN          NaN    0.300000         1.400000
50%       5.800000         NaN          NaN    1.300000         2.900000
75%       6.400000         NaN          NaN    1.800000         3.300000
max       7.900000    4.400000     6.900000    2.500000         4.700000

In [67]:
df.dropna(inplace = True)
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,flower_type,new_column_name
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
4,5.4,3.9,1.7,0.4,Iris-setosa,1.3
5,4.6,3.4,1.4,0.3,Iris-setosa,1.1
6,5.0,3.4,1.5,0.2,Iris-setosa,1.3

In [66]:
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth  new_column_name
count   147.000000  147.000000   147.000000  147.000000       147.000000
mean      5.862585    3.046939     3.806122    1.219048         2.587075
std       0.824722    0.434048     1.750351    0.757278         1.043327
min       4.300000    2.000000     1.000000    0.100000         0.800000
25%       5.100000    2.800000     1.600000    0.300000         1.400000
50%       5.800000    3.000000     4.400000    1.300000         3.000000
75%       6.400000    3.300000     5.100000    1.800000         3.300000
max       7.900000    4.400000     6.900000    2.500000         4.700000

In [68]:
df.reset_index(drop=True,inplace=True)

In [69]:
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,flower_type,new_column_name
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
2,5.4,3.9,1.7,0.4,Iris-setosa,1.3
3,4.6,3.4,1.4,0.3,Iris-setosa,1.1
4,5.0,3.4,1.5,0.2,Iris-setosa,1.3

In [70]:
# Modifying NAN enteries instead of deleting them
df.iloc[2:4,1:3] = np.nan
# making some NAN enteries as we dont have any in our table
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,flower_type,new_column_name
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
2,5.4,NaN,NaN,0.4,Iris-setosa,1.3
3,4.6,NaN,NaN,0.3,Iris-setosa,1.1
4,5.0,3.4,1.5,0.2,Iris-setosa,1.3

In [72]:
# filling nan enteries with mean of their columns, could have replaced it with mean of that flower type
df.SepalWidth.fillna(df.SepalWidth.mean(),inplace = True)
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,flower_type,new_column_name
0,4.9,3.000000,1.4,0.2,Iris-setosa,1.2
1,4.7,3.200000,1.3,0.2,Iris-setosa,1.1
2,5.4,3.038621,NaN,0.4,Iris-setosa,1.3
3,4.6,3.038621,NaN,0.3,Iris-setosa,1.1
4,5.0,3.400000,1.5,0.2,Iris-setosa,1.3

In [73]:
df.PetalLength.fillna(df.PetalLength.mean(),inplace = True)
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,flower_type,new_column_name
0,4.9,3.000000,1.400000,0.2,Iris-setosa,1.2
1,4.7,3.200000,1.300000,0.2,Iris-setosa,1.1
2,5.4,3.038621,3.837241,0.4,Iris-setosa,1.3
3,4.6,3.038621,3.837241,0.3,Iris-setosa,1.1
4,5.0,3.400000,1.500000,0.2,Iris-setosa,1.3